/* 全体の設定 */
* {
    margin:0; padding:0;
  }

/* ヘッダーの設定 */
header {
    height: 50px;
    width: 100%;
    padding: 15px 0;
    background-color: #337079;
    color: white;
}

header .headline{
    line-height: 50px;
    float: left;
    font-size: 50px;
    margin-left: 100px;
}

/*ヘッダー右部のリスト(タイトルへ・クレジット など) */
.nav-list {
    line-height: 50px;
    float: right;
    margin-right: 80px;
    list-style: none;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

/* サイト全体のフォント指定 */
body {
    font-family: "Dela Gothic One", "Noto Sans JP", sans-serif;
    font-weight: 10;
}

.center {
    text-align: center;
}

.center table,
.center div,
.center p {
    margin-right: auto;
    margin-left: auto;
}

.wani{
    margin: 0px auto;
    width:100%;
    margin-top: 0px;
}


.uwa {
    width: 26%;
}

.sita {
    width: 26%;
}

.yokonarabi {
    display: flex;
}


/* 親要素(コンテナ) */
.flex-container {
	background-color: #000000;
    width: 100%;
	display: flex;
}

.img-container {
	position: relative;
}

.img-container input {
	position: absolute;
    top: 0px;
    left:100px;
}

.flex-item {
    width: 60%;
	background-image: url(./materials/river_2.jpg);
	color: #fff;
    margin: auto;
    padding: 100px;
}

.flex-item p{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* ボタンのスタイル */
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* 整える */
    margin: auto; /* 前後の隙間 */
    padding: 0.6em 1em; /* 塗りの余白 */
    font-size: 1em; /* フォントサイズ */
    background-color: #1aa1ff; /* 背景色 */
    color: #FFF; /* テキストカラー */
    cursor: pointer; /* カーソルを指マークに */
    border-radius: 3px; /* 角の丸み */
    border: 0; /* 枠線を消す */
    transition: 0.3s; /* ホバーの変化を滑らかに */
}
  
/* ボタンのホバー時の設定 */
button:hover {
    background-color: #064fda; /* 背景色 */
}

/* 上の歯の設定 
.up_teeth input{
    width: 15%;
    float: left;
}

.up_teeth{
    position: absolute;
    top:19;
    left:10;
}
*/

/* 下の歯の設定 
.lw_teeth input{
    width: 15%;
    float: left;
}

.lw_teeth{
    position: absolute;
    top:174;
    left:10;
}
*/

/* モーダルダイヤログの設定 */
#modal-content{
    width:50%;
    margin:1.5em auto 0;
    padding:10px 20px;
    border: 2px solid #aaaaaa;
    background: #ffffff;
    z-index: 2;
    position: fixed;
    display:none;
}

.modal-p{
    margin-top: 1em;
}

.modal-p:first-child{
    margin-top:0;
}

/* リンクとリンクホバーの設定 (多分使わない)*/
.button-link{
    color: #0000ff;
    text-decoration:underline;
}

.button-link:hover{
    cursor:pointer;
    color:green;
}

#modal-overlay{
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color: rgba(0,0,0,0.75);
}

footer{
    width: 100%;
    height: 100px;
    background-color: #337079;
    color: white;
    padding-top: 1em;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 100;
}

ul.footer-menu li {
    display: inline;
}

